<div class="dashboard content">
    <div class="title">
        <h3>Dashboard</h3>
    </div>
    <div class="wrapper">
        <div class="section">
        <app-welcome></app-welcome>
        </div>
        <div class="section">
           <quick-draft></quick-draft>
        </div>
        <div class="section">
           <yearly-target></yearly-target>
        </div>
        <div class="section">
           <ticket-statistics></ticket-statistics>
        </div>
        <div class="section">
          <latest-news></latest-news>
        </div>
        <div class="section">
           <latest-tasks></latest-tasks>
        </div>
        <div class="section">
           <top-search-item></top-search-item>
        </div>
        <div class="section">
         <latest-upload></latest-upload>
        </div>
        <div class="section">
            sec-1
        </div>
        <div class="section">
            sec-1
        </div>
        <div class="section">
            sec-1
        </div>
        <div class="section">
            sec-1
        </div>

    </div>

</div>