<div class="welcome-section">
    <div class="header">
        <div class="h-title">
            <h4>Welcome</h4>
            <p>Asmaa Hassan</p>
        </div>

        <div class="h-image">
            <img src="../../../assets/images/welcome.png"/>
        </div>
        <div class="avater">
            <img src="../../../assets/images/team-02.png"/>
        </div>
    </div>
    
    <div class="body">
        <div class="item">
            <p>Asmaa Hassan</p>
            <span>Developer</span>     
        </div>
        <div class="item">
            <p>10</p>
            <span>Projects</span>     
        </div>
        <div class="item">
            <p>100$</p>
            <span>Earned</span>     
        </div>

    </div>
    <div class="footer">
      <button>Profile</button>
    </div>
</div>