<div class="course-widget">

    <div class="widget-header">
        <img class="main-img" [src]="course.ProfileImage"/>
        <div class="course-instructor">
            <img src="../../../assets/images/team-01.png"/>
        </div>
    </div>

    <div class="widget-body">
    <h4>{{course.title}}</h4>
    <p>{{course.Description}}</p>
    </div>

    <div class="widget-footer">
        <div class="footer-indicator">
           Course Info
        </div>
        <div class="numbers">
            <span>
                <i class="fa-regular fa-user"></i>
                {{course.numberOfStudent}}
            </span>
            <span>
                <i class="fa-solid fa-dollar-sign"></i>
                {{course.price}}
            </span>
        </div>
       
    </div>
    

    
</div>