.letest-news{
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    padding:20px;

    .content{
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
            padding-bottom: 30px;
            @media (max-width:767px){
                justify-content: center;
            }
            &:not(:last-child){
                border-bottom:1px solid #eee;

            }
            .image{
                img{
                    width: 100px;
                    border-radius: 10px;
                }
            }
            .content-info{
                p{
                    color:#888;
                }
            }
            .content-time{
                background-color: #eee;
                padding: 0px 10px;
                border-radius: 10px;
                span{
                    font-size:13px;
                }
            }

        }

    }
}