.main-page{
    display:flex;
    justify-content: space-between;
    @media (max-width:767px) {
      
    }
    .side-bar{
     width:20%;
     
      @media (max-width:767px){
        width:10%;
      }
    }
    .main-content{
      width:80%;
      @media (max-width:767px) {
        width:90%;
      }
  
    }
  }