<div class="yearly-target">
    <div class="h-title">
        <h4>Yearly Targets</h4>
        <p>Targets Of The Year</p>
    </div>
    <div class="targets">
        <!-- item-1 -->
        <div class="item">
            <div class="image">
                <i class="fa-solid fa-dollar-sign fa-lg c-blue"></i>
            </div>
            <div class="data ">
            <div class="d-title">
                <div class="main-t" >Money</div>
                <div class="main-v">20.00$</div>
            </div>
            <div class=" progress progress-blue">
                <div class="bar-holder">
                    <div class="bar"></div>
                    <span class="bar-indicator">50%</span>
                </div>
            </div>
            </div>
            
        </div>

        <!-- item-2 -->
        <div class="item">
            <div class="image orange">
                <i class="fa-solid fa-code fa-lg c-orange"></i>
            </div>
            <div class="data ">
            <div class="d-title">
                <div class="main-t" >Projects</div>
                <div class="main-v">10</div>
            </div>
            <div class="progress progress-blue">
                <div class="bar-holder bar-holder-orange">
                    <div class="bar bar-orange"></div>
                    <span class="bar-indicator bar-indicator-orange">60%</span>
                </div>
            </div>
            </div>
            
        </div>
        <!-- item-3 -->
        <div class="item">
            <div class="image green"><i class="fa-solid fa-user fa-lg c-green"></i>
            </div>
            <div class="data ">
            <div class="d-title">
                <div class="main-t" >Team</div>
                <div class="main-v">5</div>
            </div>
            <div class=" progress progress-blue">
                <div class="bar-holder bar-holder-green ">
                    <div class="bar bar-green"></div>
                    <span class="bar-indicator bar-indicator-green">70%</span>
                </div>
            </div>
            </div>
            
        </div>
    </div>
</div>