.letest-news{
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    padding:20px;

    .content{
        .item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 4px;
            &:not(:last-child){
                border-bottom:1px solid #eee;
            }
            @media (max-width:767px) {
                padding: 20px 0px !important;
                justify-content: center;
            }
            .left{
                display:flex
            }
            .image{
                img{
                    width: 35px;
                    border-radius: 10px;
                }
            }
            .content-info{
                margin-left:20px;
                p{
                    color:#888;
                }
            }
            .content-time{
                background-color: #eee;
                padding: 0px 10px;
                border-radius: 10px;
                span{
                    font-size:13px;
                }
            }

        }

    }
}