
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Demo-project-primary: mat.define-palette(mat.$indigo-palette);
$Demo-project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Demo-project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Demo-project-theme: mat.define-light-theme((
  color: (
    primary: $Demo-project-primary,
    accent: $Demo-project-accent,
    warn: $Demo-project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Demo-project-theme);

@font-face {
    font-family: "Cairo";
    src: local("Cairo"), url(./assets/fonts/Cairo-Regular.ttf) format("truetype");
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Cairo", Arial, Helvetica, sans-serif;

}

// import vaiables file
@import './assets/styles/variables.scss';


//general styles

.flex-between{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

input:focus{
    outline: none;
    box-shadow: none;
    
}

body{
    background-color: #f3f8fd;
}
::-webkit-scrollbar{
    width:6px;
   
}
::-webkit-scrollbar-track{
   background-color: #fff;
   border-radius:10px;
  
}
::-webkit-scrollbar-thumb{
   background-color:#0075ff ;
   border-radius:20px;
  
}
.content{
    margin:20px;
   
    .title{
        position: relative;
        margin:20px 0px;
        h4{
            font-size:30px;
            @media (max-width:767px){
              text-align: center; 
              }
        }
    &::before,
    &::after{
        content: "";
        height:3px;
        position: absolute;
        left:0;
        bottom: 0;
        border-radius: 10px;
        @media (max-width:767px){
            left:50%;
            transform: translateX(-50%);
            }
    }
    &::before{
        width:180px;
        background-color:#fff;
    }
    &::after{
        width:100px;
        background-color:#000;
    }
    }
    .wrapper{
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(450px, 1fr));
        gap:20px;
        @media (max-width:767px){
            display:block;  
        }
        .section{
            // background-color: #fff;
            // box-shadow: 0 0 10px #ddd;
            padding:10px;
            @media (max-width:767px){
              margin:20px 10px; 
            }
        }

    }

    .h-title{
           
        h3{
            font-size:18px;
            font-weight: 700;
            color:#000;

        }
        p{
            font-size:15px;
            font-weight:400;
            color:#888;
        }
    }

    .footer{
        display: flex;
        justify-content: flex-end;
        button{
            padding: 0px 25px;
            border: 1px solid #0075ff;
            background-color:#0075ff ;
            color: #fff;
            margin: 20px;
            border-radius: 5px;
            cursor: pointer;
    }
}
}

.c-red{
    color:#f44336;
}
.c-blue{
    color:#0075ff;
}
.c-green{
    color:#22c55e;
}
.c-orange{
    color:#f59e0b;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
